название файла: SF-DST Movies IMBD v3.0 (отредактирован 16.05.2020)  
Итоговое задание Соколова Александра по Проекту 1. Кто хочет стать миллионером?  
***шаблон файла был задан изначально и не изменялся*** (комментарии к существующим строкам не вносились, содержание и навигация не добавлялись и т.п.)

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("../rds1/data"))

['data.csv']

In [2]:
data = pd.read_csv('../rds1/data/data.csv')
data.head(3)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015

In [3]:
data.describe()

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year
count,1890.000000,1.890000e+03,1.890000e+03,1890.000000,1890.000000,1890.000000,1890.000000
mean,1.560611,5.450696e+07,1.552890e+08,109.653439,785.666667,6.140899,2007.861905
std,1.849471,4.931705e+07,2.146386e+08,18.013641,1068.725880,0.764584,4.467929
min,0.010335,5.000000e+06,2.033165e+06,63.000000,10.000000,3.300000,2000.000000
25%,0.643284,2.000000e+07,3.434007e+07,97.000000,164.000000,5.600000,2004.000000
50%,1.065065,3.800000e+07,8.358664e+07,106.500000,389.000000,6.100000,2008.000000
75%,1.804537,7.200000e+07,1.782136e+08,120.000000,937.750000,6.600000,2012.000000
max,32.985763,4.250000e+08,2.781506e+09,214.000000,9767.000000,8.100000,2015.000000

Я решил добавить описание датасета. 
 
В датасете с сайта IMBD представлены следующие данные:    
1. imdb_id - идентификатор фильма в базе данных IMDB  
2. popularity - рейтинг популярности фильма 
3. budget - бюджет фильма  
4. revenue - доход, который принес фильм   
5. original_title - оригинальное название  
6. cast - актерский состав фильма  
7. director - режиссер фильма  
8. tagline - слоган фильма  
9. overview - краткое содержание фильма  
10. runtime - продолжительность фильма (в минутах)  
11. genres - жанры фильма  
12. production_companies - киностудии, участвующие в производстве фильма  
13. release_date - дата выхода фильма в прокат  
14. vote_count - количество голосов  
15. vote_average - рейтинг фильма  
16. release_year - год выхода (релиза) фильма

In [4]:
len(data)

1890

In [5]:
# проверим пропуски
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1890 entries, 0 to 1889
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1890 non-null   object
 1   popularity            1890 non-null   float64
 2   budget                1890 non-null   int64
 3   revenue               1890 non-null   int64
 4   original_title        1890 non-null   object
 5   cast                  1890 non-null   object
 6   director              1890 non-null   object
 7   tagline               1890 non-null   object
 8   overview              1890 non-null   object
 9   runtime               1890 non-null   int64
 10  genres                1890 non-null   object
 11  production_companies  1890 non-null   object
 12  release_date          1890 non-null   object
 13  vote_count            1890 non-null   int64
 14  vote_average          1890 non-null   float64
 15  release_year          1890 non-null   int64
dtypes: float64(2), int64(5), object(9)
memory usage: 236.4+ KB

# Предобработка датасета

In [6]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:  
1. The Dark Knight Rises (tt1345836)  
2. Spider-Man   3 (tt0413300)  
3. Avengers: Age of Ultron (tt2395427)  
4. The Warrior's Way	(tt1032751)  
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [7]:
# сделав ошибку при копировании и не заменив max на min, я решил выводит ответы
# на вопросы, чтобы иметь возможность проверить себя
column = 'budget'
temp_agg = data[column].max()
print(f" 1. самый большой бюджет ({column}): == {temp_agg}")

data.loc[data[column] == temp_agg, 'original_title']

1. самый большой бюджет (budget): == 425000000

491    The Warrior's Way
Name: original_title, dtype: object

In [8]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
# 4. The Warrior's Way	(tt1032751)
answer_ls.append(4)

In [9]:
# проверяем 
answer_ls

[4]

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [10]:
column = 'runtime'
temp_agg = data[column].max()
print(f" 2. самый длительный ({column}): == {temp_agg}")

data.loc[data[column] == temp_agg, 'original_title']

2. самый длительный (runtime): == 214

1158    Gods and Generals
Name: original_title, dtype: object

In [11]:
# 2. Gods and Generals	(tt0279111)
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [12]:
column = 'runtime'
temp_agg = data[column].min()
print(f" 2. самый длительный ({column}): == {temp_agg}")

data.loc[data[column] == temp_agg, 'original_title']

2. самый длительный (runtime): == 63

769    Winnie the Pooh
Name: original_title, dtype: object

In [13]:
# 3. Winnie the Pooh
answer_ls.append(3)

# 4. Средняя длительность фильма?  
Варианты ответов:  
1. 115  
2. 110  
3. 105  
4. 120  
5. 100

In [14]:
column = 'runtime'
temp_agg = data[column].mean()
print(f" 4. Средняя длительность фильма ({column}): == {temp_agg}")

4. Средняя длительность фильма (runtime): == 109.65343915343915

In [15]:
# 2. 110
answer_ls.append(1)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [16]:
column = 'runtime'
temp_agg = data[column].median()
print(f" 5. Средняя длительность фильма по медиане ({column}): == {temp_agg}")

5. Средняя длительность фильма по медиане (runtime): == 106.5

In [17]:
# 1. 106
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?  
Варианты ответов:  
1. The Avengers	tt0848228  
2. Minions	tt2293640  
3. Star Wars: The Force Awakens	tt2488496  
4. Furious 7	tt2820852  
5. Avatar	tt0499549

In [18]:
data['profit'] = data['revenue'] - data['budget']  # вводим новый столбец с прибылью

column = 'profit'
temp_agg = data[column].max()
print(f" 6. самый прибыльный ({column}): == {temp_agg}")

data.loc[data[column] == temp_agg, 'original_title']

6. самый прибыльный (profit): == 2544505847

239    Avatar
Name: original_title, dtype: object

In [19]:
# 5. Avatar	tt049954
answer_ls.append(5)

# 7. Какой фильм самый убыточный?  
Варианты ответов:  
1. Supernova tt0134983  
2. The Warrior's Way tt1032751  
3. Flushed Away	tt0424095  
4. The Adventures of Pluto Nash	tt0180052  
5. The Lone Ranger	tt1210819

In [20]:
column = 'profit'
temp_agg = data[column].min()
print(f" 7. самый убыточный ({column}): == {temp_agg}")

data.loc[data[column] == temp_agg, 'original_title']

7. самый убыточный (profit): == -413912431

491    The Warrior's Way
Name: original_title, dtype: object

In [21]:
# 2. The Warrior's Way tt1032751
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?  
Варианты ответов:  
1. 1478  
2. 1520  
3. 1241  
4. 1135  
5. 1398

In [22]:
column = 'profit'
temp_agg = 0  # меняем порог на ноль 
print(f" 9. в прибыли ({column}): > {temp_agg}")

# в условии отбора меняем равенство(==) на (>) - прибыль больше нуля
len(data.loc[data[column] > temp_agg, 'original_title'])

9. в прибыли (profit): > 0

1478

In [23]:
# 1. 1478
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:  
1. Madagascar: Escape  
2 Africa	tt0479952  
2. Iron Man	tt0371746  
3. Kung Fu Panda	tt0441773  
4. The Dark Knight	tt0468569  
5. Mamma Mia!	tt0795421

In [24]:
column = 'profit'
column_for_add_cond1 = 'release_year'  # добавляем название столбца для допусловия
column_for_add_cond_value1 = 2008  # добавляем значение для допусловия
                                   # тип столбца int, поэтому ставим 2008 
additional_conditions_bool = data[column_for_add_cond1] == column_for_add_cond_value1
temp_agg = data[additional_conditions_bool][column].max()

print(f" 9. самый прибыльный ({column}): == {temp_agg}")
print(f"      при условии, что год выпуска ({column_for_add_cond1}): == {column_for_add_cond_value1}")

data.loc[data[column] == temp_agg, 'original_title']

9. самый прибыльный (profit): == 816921825
      при условии, что год выпуска (release_year): == 2008

600    The Dark Knight
Name: original_title, dtype: object

In [25]:
# 4. The Dark Knight	tt0468569
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?  
Варианты ответов:  
1. Winter's Tale	tt1837709  
2. Stolen	tt1656186  
3. Broken City	tt1235522  
4. Upside Down	tt1374992  
5. The Lone Ranger	tt1210819

In [26]:
column = 'profit'
column_for_add_cond1 = 'release_year'  # добавляем название столбца для допусловия
column_for_add_cond_value1 = 2012  # добавляем значение для допусловия
                                   # тип столбца int, поэтому ставим 2008 
column_for_add_cond_value2 = 2014

additional_conditions_bool = (data[column_for_add_cond1] >= column_for_add_cond_value1) & (data[column_for_add_cond1] <= column_for_add_cond_value2)
temp_agg = data[additional_conditions_bool][column].min()

print(f" 9. самый убыточный ({column}): == {temp_agg}")
print(f"      при условиях:")
print(f"           a. год выпуска ({column_for_add_cond1}): >= {column_for_add_cond_value1}")
print(f"           b. год выпуска ({column_for_add_cond1}): <= {column_for_add_cond_value2}")

data.loc[data[column] == temp_agg, 'original_title']

9. самый убыточный (profit): == -165710090
      при условиях:
           a. год выпуска (release_year): >= 2012
           b. год выпуска (release_year): <= 2014

1246    The Lone Ranger
Name: original_title, dtype: object

In [27]:
# 5. The Lone Ranger	tt1210819
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?  
Варианты ответов:  
1. Action  
2. Adventure  
3. Drama  
4. Comedy  
5. Thriller

In [28]:
# столбец 'genres' содержит разделитель '|' между названиями жанров
# поэтому сначала создадим список без раделителей
temp_list = [i.split('|') for i in data['genres']]

# но у нас получился список списков, с которым работать неудобно
# напишем функцию распаковки списка списков
def list_unrar(list_of_lists):
    result=[]
    for lst in list_of_lists:
      result.extend(lst)
    return result

#  записываем распакованный список в Counter
temp_counter=Counter(list_unrar(temp_list))

# выводим самое частое значение в списке
temp_counter.most_common(1)

[('Drama', 782)]

In [29]:
# 3. Drama
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?  
Варианты ответов:  
1. Drama  
2. Comedy  
3. Action  
4. Thriller  
5. Adventure

In [30]:
temp_df = data[data['profit'] > 0]
temp_list = [i.split('|') for i in temp_df['genres']]

def list_unrar(list_of_lists):
    result=[]
    for lst in list_of_lists:
      result.extend(lst)
    return result

temp_counter=Counter(list_unrar(temp_list))
temp_counter.most_common(1)

[('Drama', 560)]

In [31]:
# 1. Drama
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?  
Варианты ответов:  
1. Steven Spielberg  
2. Ridley Scott  
3. Steven Soderbergh  
4. Christopher Nolan  
5. Clint Eastwood

In [32]:
data['director'].value_counts()[:1]

Steven Soderbergh    13
Name: director, dtype: int64

In [33]:
# 3. Steven Soderbergh
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?  
Варианты ответов:  
1. Steven Soderbergh  
2. Clint Eastwood  
3. Steven Spielberg  
4. Ridley Scott  
5. Christopher Nolan

In [34]:
data[data['profit'] > 0]['director'].value_counts()[:1]

Ridley Scott    12
Name: director, dtype: int64

In [35]:
#4. Ridley Scott
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?  
Варианты ответов:  
1. Steven Spielberg  
2. Christopher Nolan  
3. David Yates  
4. James Cameron  
5. Peter Jackson

In [36]:
data.groupby(['director']).profit.sum().to_frame().reset_index().sort_values(by='profit', ascending=False)[:1]

          director      profit
689  Peter Jackson  5202593685

In [37]:
# 5. Peter Jackson
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?  
Варианты ответов:  
1. Emma Watson  
2. Johnny Depp  
3. Michelle Rodriguez  
4. Orlando Bloom  
5. Rupert Grint

In [38]:
# столбец 'cast' содержит разделитель '|' между названиями актеров
# предыдущий вариант списка списков не подойдет потому что нам нужно учитывать profit
# попробуем пробежать по всем строкам
actors_and_profit_counter = Counter()
for i in range(len(data)):
     temp_list = data.iloc[i]['cast'].split('|')
     for actor in temp_list:
         actors_and_profit_counter[actor] += data.iloc[i]['profit']

actors_and_profit_counter.most_common(1)

[('Emma Watson', 6666245597)]

In [39]:
#1. Emma Watson
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?  
Варианты ответов:  
1. Nicolas Cage  
2. Danny Huston  
3. Kirsten Dunst  
4. Jim Sturgess  
5. Sami Gayle

In [40]:
# столбец 'cast' содержит разделитель '|' между названиями актеров
# предыдущий вариант списка списков не подойдет потому что нам нужно учитывать profit
# попробуем пробежать по всем строкам
temp_data = data[data['release_year'] == 2012]
actors_and_profit_counter = Counter()
for i in range(len(temp_data)):
     temp_list = temp_data.iloc[i]['cast'].split('|')
     for actor in temp_list:
         actors_and_profit_counter[actor] += temp_data.iloc[i]['profit']

actors_and_profit_counter.most_common()[-1]

('Kirsten Dunst', -68109207)

In [41]:
# 3. Kirsten Dunst
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)  
Варианты ответов:  
1. Tom Cruise  
2. Mark Wahlberg   
3. Matt Damon  
4. Angelina Jolie  
5. Adam Sandler

In [42]:
# вернемся к варианту, который был про жанры. Теперь он нам подойдет

# но сначала создадим временный датафрейм фильмов с бюджетами выше среднего
temp_data = data[(data['budget'] > data['budget'].mean())]['cast']

# столбец 'cast' содержит разделитель '|' между названиями актеров
# создадим список без раделителей

temp_list = [i.split('|') for i in temp_data]

# но у нас получился список списков, с которым работать неудобно
# напишем функцию распаковки списка списков
def list_unrar(list_of_lists):
    result=[]
    for lst in list_of_lists:
      result.extend(lst)
    return result

#  записываем распакованный список в Counter
temp_counter=Counter(list_unrar(temp_list))

# выводим самое частое значение в списке
temp_counter.most_common(1)

[('Matt Damon', 18)]

In [43]:
# 3. Matt Damon
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:  
1. Drama  
2. Action  
3. Thriller  
4. Adventure  
5. Crime

In [44]:
# сначала сделаем фрагмент датафрейма с фильмами в которых снимался Nicolas Cage 
temp_df = data[data['cast'].str.contains('Nicolas Cage')]

# теперь возьмем код, который использовали для подсчета фильмов по жанрам (вопрос 11)

temp_list = [i.split('|') for i in temp_df['genres']]

def list_unrar(list_of_lists):
    result=[]
    for lst in list_of_lists:
      result.extend(lst)
    return result

temp_counter=Counter(list_unrar(temp_list))
temp_counter.most_common(1)

[('Action', 17)]

In [45]:
# 2. Action
answer_ls.append(2)

# 20. Какая киностудия сняла больше всего фильмов?  
Варианты ответа:  
1. Universal Pictures (Universal)  
2. Paramount Pictures  
3. Columbia Pictures  
4. Warner Bros  
5. Twentieth Century Fox Film Corporation

In [46]:
# рассчитывая ответы по режиссерам я не учел, 
# что в одном фильме может быть несколько режиссеров, но ответы получились правильными

# со студиями сначала проверим что там внутри
data['production_companies'].unique()

array(['Universal Studios|Amblin Entertainment|Legendary Pictures|Fuji Television Network|Dentsu',
       'Village Roadshow Pictures|Kennedy Miller Productions',
       'Summit Entertainment|Mandeville Films|Red Wagon Entertainment|NeoReel',
       ...,
       "Twentieth Century Fox Film Corporation|Donners' Company|Bad Hat Harry Productions|Marvel Enterprises|Springwood Productions",
       'Universal Pictures|Capella International|KC Medien AG|Tribeca Productions',
       'Laurence Mark Productions|Columbia Pictures Corporation|Global Entertainment Productions GmbH & Company Medien KG|Nora Ephron Productions'],
      dtype=object)

In [47]:
# из фрагмента видно, что столбец с киностудиями тоже содержит разделитель
# возьмем код аналогичный в вопросе о жанрах (вопрос 11)

temp_list = [i.split('|') for i in data['production_companies']]

def list_unrar(list_of_lists):
    result=[]
    for lst in list_of_lists:
      result.extend(lst)
    return result

temp_counter=Counter(list_unrar(temp_list))
temp_counter.most_common(1)

[('Universal Pictures', 173)]

In [48]:
# 1. Universal Pictures (Universal)
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?  
Варианты ответа:  
1. Universal Pictures  
2. Paramount Pictures  
3. Columbia Pictures  
4. Warner Bros  
5. Twentieth Century Fox Film Corporation

In [49]:
temp_df = data[data['release_year'] == 2015]
temp_list = [i.split('|') for i in temp_df['production_companies']]

def list_unrar(list_of_lists):
    result=[]
    for lst in list_of_lists:
      result.extend(lst)
    return result

temp_counter=Counter(list_unrar(temp_list))
temp_counter.most_common(1)

[('Warner Bros.', 12)]

In [50]:
# 4. Warner Bros
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?  
Варианты ответа:  
1. Warner Bros  
2. Universal Pictures (Universal)  
3. Columbia Pictures  
4. Paramount Pictures  
5. Walt Disney

In [51]:
# сначала сделаем фрагмент датафрейма с комедиями
temp_df = data[data['genres'].str.contains('Comedy')]


# возьмем предыдущий вариант кода с актером и прибылью (вопрос 16)
# и вставим temp_df вместо data
companies_and_profit_counter = Counter()
for i in range(len(temp_df)):
     temp_list = temp_df.iloc[i]['production_companies'].split('|')
     for company in temp_list:
         companies_and_profit_counter[company] += temp_df.iloc[i]['profit']

companies_and_profit_counter.most_common(1)

[('Universal Pictures', 8961545581)]

In [52]:
# 2. Universal Pictures (Universal)
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?  
Варианты ответа:  
1. Universal Pictures (Universal)  
2. Warner Bros  
3. Columbia Pictures  
4. Paramount Pictures  
5. Lucasfilm

In [53]:
# тут возьмем вариант из предыдущего вопроса (вопрос 22)
# сначала сделаем фрагмент датафрейма за 2012
temp_df = data[data['release_year'] == 2012]

companies_and_profit_counter = Counter()
for i in range(len(temp_df)):
     temp_list = temp_df.iloc[i]['production_companies'].split('|')
     for company in temp_list:
         companies_and_profit_counter[company] += temp_df.iloc[i]['profit']

companies_and_profit_counter.most_common(1)

[('Columbia Pictures', 2501406608)]

In [54]:
# 3. Columbia Pictures
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [55]:
data[data['production_companies'].str.contains('Paramount Pictures')].sort_values('profit')[['profit', 'original_title']]

         profit                                     original_title
926   -64831034                               K-19: The Widowmaker
1124  -60519261                                           Timeline
1723  -51788987                                               Next
1624  -46604061                                              Alfie
1632  -24805000                                            Twisted
...         ...                                                ...
731   549713380               Mission: Impossible - Ghost Protocol
1739  559709780                                       Transformers
604   601636033  Indiana Jones and the Kingdom of the Crystal S...
317   686297228                Transformers: Revenge of the Fallen
829   928746996                     Transformers: Dark of the Moon

[122 rows x 2 columns]

In [56]:
# 1. K-19: The Widowmaker tt0267626
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?  
Варианты ответа:  
1. 2014  
2. 2008  
3. 2012  
4. 2002  
5. 2015

In [57]:
data.groupby('release_year')['profit'].sum().sort_values(ascending=False)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2009    13423744372
2010    13117292530
2008    11663881990
2007    11565911801
2004     9634180720
2003     9228823312
2002     9002361487
2005     8981925558
2006     8691077320
2001     7950614865
2000     6101399805
Name: profit, dtype: int64

In [58]:
# 5. 2015
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?  
Варианты ответа:  
1. 2014  
2. 2008  
3. 2012  
4. 2010  
5. 2015

In [59]:
temp_df = data[data['production_companies'].str.contains('Warner Bros')]
temp_df.groupby('release_year')['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

In [60]:
# 1. 2014
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?  
Варианты ответа:  
1. Январь  
2. Июнь  
3. Декабрь  
4. Сентябрь  
5. Май

In [61]:
# создадим новый столбец с названием месяца
data['month_of_release'] = pd.to_datetime(data['release_date'], infer_datetime_format=True).dt.strftime('%b')

In [62]:
temp_group = data.groupby('month_of_release')['profit'].count().sort_values(ascending=False)
temp_group

month_of_release
Sep    227
Dec    191
Oct    186
Aug    161
Mar    156
Apr    149
Jun    147
Nov    146
Jul    142
May    140
Feb    135
Jan    110
Name: profit, dtype: int64

In [63]:
# 4. Сентябрь
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)  
Варианты ответа:  
1. 345  
2. 450  
3. 478  
4. 523  
5. 381

In [64]:
temp_group['Jun']+temp_group['Aug']+temp_group['Jul']

450

In [65]:
# 2. 450
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?  
Варианты ответов:  
1. Steven Soderbergh  
2. Christopher Nolan  
3. Clint Eastwood  
4. Ridley Scott  
5. Peter Jackson

In [66]:
# возьмем предыдущий вариант кода с актером и прибылью (вопрос 16)
# только вместо актеров возьмем режисеров 
list_winter = ['Dec', 'Jan', 'Feb']
director_in_winter_counter = Counter()
for i in range(len(data)):
     if (data.iloc[i]['month_of_release'] in list_winter):  #если месяц зимний делаем
         temp_list = data.iloc[i]['director'].split('|')
         for director in temp_list:
             director_in_winter_counter[director] += 1  # вместо прибыли ставим 1
     else:
         continue

director_in_winter_counter.most_common(1)

[('Peter Jackson', 7)]

In [67]:
# 5. Peter Jackson
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?  
Варианты ответа:  
1. Январь  
2. Июнь  
3. Декабрь  
4. Сентябрь  
5. Май

In [68]:
month_max = Counter()
list_of_years = list(data['release_year'].unique())
for year in list_of_years:
    temp_df = data[data['release_year']==year]
    max_month = temp_df.groupby('month_of_release')['profit'].sum().sort_values(ascending=False).index[0]
    month_max[max_month] += 1
month_max.most_common(1)

[('Jun', 7)]

In [69]:
# 2. Июнь
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?  
Варианты ответа:  
1. Universal Pictures (Universal)  
2. Warner Bros  
3. Jim Henson Company, The  
4. Paramount Pictures  
5. Four By Two Productions

In [70]:
companies_and_sumOfLen_counter, companies_and_len_counter = Counter(), Counter()
set_of_companies = set()
for i in range(len(data)):
     temp_list = data.iloc[i]['production_companies'].split('|')
     for company in temp_list:
         # сложим длины всех названий и потом разделим на кол-во названий по киностудиям 
         companies_and_sumOfLen_counter[company] += len(data.iloc[i]['original_title'])
         companies_and_len_counter[company] += 1
         
         set_of_companies.add(company)

company_and_meanOfLen_list = []
for company in list(set_of_companies):
    temp = companies_and_sumOfLen_counter[company]/companies_and_len_counter[company]
    company_and_meanOfLen_list.append([company,temp])
# полученный вложенный список отсортируем по среднему
company_and_meanOfLen_list.sort(key=lambda i: i[1], reverse=True)

company_and_meanOfLen_list[0]

['Four By Two Productions', 83.0]

In [71]:
# 5. Four By Two Productions
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?  
Варианты ответа:  
1. Universal Pictures (Universal)  
2. Warner Bros  
3. Jim Henson Company, The  
4. Paramount Pictures  
5. Four By Two Productions

In [72]:
companies_and_sumOfLen_counter, companies_and_len_counter = Counter(), Counter()
set_of_companies = set()
for i in range(len(data)):
     temp_list = data.iloc[i]['production_companies'].split('|')
     for company in temp_list:
         # сложим длины всех названий и потом разделим на кол-во названий по киностудиям 
         companies_and_sumOfLen_counter[company] += len(data.iloc[i]['original_title'].split())
         companies_and_len_counter[company] += 1
         
         set_of_companies.add(company)

company_and_meanOfLen_list = []
for company in list(set_of_companies):
    temp = companies_and_sumOfLen_counter[company]/companies_and_len_counter[company]
    company_and_meanOfLen_list.append([company,temp])
# полученный вложенный список отсортируем по среднему
company_and_meanOfLen_list.sort(key=lambda i: i[1], reverse=True)

company_and_meanOfLen_list[0]

['Four By Two Productions', 12.0]

In [73]:
# 5. Four By Two Productions
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)  
Варианты ответа:  
1. 6540  
2. 1002  
3. 2461  
4. 28304  
5. 3432

In [74]:
temp_list = [i.split() for i in data['original_title']]

# но у нас получился список списков, с которым работать неудобно
# напишем функцию распаковки списка списков
def list_unrar(list_of_lists):
    result=[]
    for lst in list_of_lists:
      result.extend(lst)
    return result

len(set(list_unrar(temp_list)))

2476

In [75]:
# 3. 2461
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?  
Варианты ответа:  
1. Inside Out, Gone Girl, 12 Years a Slave  
2. BloodRayne, The Adventures of Rocky & Bullwinkle  
3. The Lord of the Rings: The Return of the King  
4. 300, Lucky Number Slevin

In [76]:
persent_limit = data['vote_average'].quantile(0.99)

data.loc[data['vote_average']>persent_limit][['original_title','vote_average']]

                                     original_title  vote_average
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
119                         Guardians of the Galaxy           7.9
125                              The Imitation Game           8.0
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
600                                 The Dark Knight           8.1
873                                     The Pianist           7.9
1082  The Lord of the Rings: The Return of the King           7.9
1184                        The Wolf of Wall Street           7.9
1192                               12 Years a Slave           7.9
1801                                        Memento           7.9

In [77]:
# 1. Inside Out, Gone Girl, 12 Years a Slave
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе  
Варианты ответа:  
1. Johnny Depp & Helena Bonham Carter  
2. Hugh Jackman & Ian McKellen  
3. Vin Diesel & Paul Walker  
4. Adam Sandler & Kevin James  
5. Daniel Radcliffe & Rupert Grint

In [78]:
actors_and_actor_counter = Counter()
for i in range(len(data)):
     temp_list = data.iloc[i]['cast'].split('|')
     for actor1 in temp_list:
         new_list = temp_list.copy()
         new_list.remove(actor1)
         for actor2 in new_list:
             actors_and_actor_counter[(actor1, actor2)] += 1

actors_and_actor_counter.most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

In [79]:
# 5. Daniel Radcliffe & Rupert Grint
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101  
Варианты ответа:  
1. Quentin Tarantino  
2. Steven Soderbergh  
3. Robert Rodriguez  
4. Christopher Nolan  
5. Clint Eastwood

In [80]:
# верояность того что режисер снимет прибыльный фильм равна 
# кол-во его прибыльных фильмов разделить на все фильмы
# как оказалось таких режиссеров много
# поэтому я посчитал чем опытнее такой режиссер тем больше вероятность
# добавил параметр всех фильмов и отсортировал по нему во вторую очередь
directors_and_profitFilms_counter, directors_and_allFilms_counter = Counter(), Counter()
set_of_directors = set()
for i in range(len(data)):
     temp_list = data.iloc[i]['director'].split('|')
     for director in temp_list:
         # сложим кол-во прибыльных фильмов и потом разделим на все фильмы  
         if data.iloc[i]['profit'] > 0 :
             directors_and_profitFilms_counter[director] += 1
         directors_and_allFilms_counter[director] += 1
         set_of_directors.add(director)

director_and_meanOfProfitFilms_list = []
for director in list(set_of_directors):
    temp = directors_and_profitFilms_counter[director]/directors_and_allFilms_counter[director]
    temp2 = directors_and_allFilms_counter[director]
    director_and_meanOfProfitFilms_list.append([director,temp, temp2])
# полученный вложенный список отсортируем по отношению прибыльных ко всем фильмам
director_and_meanOfProfitFilms_list.sort(key=lambda i: (i[1],i[2]), reverse=True)

director_and_meanOfProfitFilms_list[:5]

[['Ridley Scott', 1.0, 12],
 ['Steven Spielberg', 1.0, 10],
 ['Tim Burton', 1.0, 9],
 ['Christopher Nolan', 1.0, 8],
 ['Antoine Fuqua', 1.0, 8]]

In [81]:
# что-то тут пошло не так
answer_ls.append(1)

# Submission

In [82]:
len(answer_ls)

36

In [83]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       1
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       1